exportPattern("^[[:alpha:]]+")

export("downloadSPF")
export("individualSPF")

exportClasses("survey")

importFrom(dplyr,filter)
importFrom(readxl,read_excel)
importFrom(tis,growth.rate)

S3method(dispersion, survey)
